<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs_landing</title>
</head>
<body>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#slideshow">Slidshow</a></li>
                <li><a href="#form">Form</a></li>
              </ul>
        </nav>
        <header id="home">
            <h5>Frontend Developer Technical Test</h5>
        </header>
        <main>
            <section id="slideshow">
              <h4>slideshow</h4>
            </section>
            <section id="form">
                <h4>Form</h4>
            </section>
            <footer>
                &copy; Copyright 2020
                <a href="https://www.linkedin.com/in/alexandrina-serediuc-a33678195/" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                  </a>
                <a href="https://github.com/Alecsundra" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                  </a>
            </footer>
        </main>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
</html>