<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <title>Nodejs_landingPage</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#slideshow">Slidshow</a></li>
            <li><a href="#form">Form</a></li>
        </ul>
    </nav>
    <header id="home">
        <h5>Frontend Developer Technical Test</h5>
    </header>
    <main>
        <section id="slideshow">
        <div>
            <h4>Slideshow</h4>
        </div>
        <div class="fling-minislide">
            <img src="/img/1.jpg" alt="Slide 1" />
            <img src="/img/2.jpg" alt="Slide 2"  />
            <img src="/img/3.jpg" alt="Slide 3"  />
            <img src="/img/4.jpg" alt="Slide 4"  />
            <img src="/img/5.jpg" alt="Slide 5"  />
            
        </div>
        </section>
        <section id="form">
            <div>
                <h4>Form</h4>
                <p>Please enter the Github username and check the public repos</p>
                <form>
                    <input id="numb">
                    <button class='btn' type="button" onclick=myFunction()>Check</button>
                    <ol id="demo"></ol> 
                </form> 
            </div>
        </section>
        <footer>
            <div>
                <a href="https://www.linkedin.com/in/alexandrina-serediuc-a33678195/" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/Alecsundra" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </div>
            &copy; Copyright 2020
        </footer>
    </main>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="/main.js"></script>
</body>
</html>